/gerber/esp32d-B.Adhes.gba
/gerber/esp32d-B.CrtYd.gbr
/gerber/esp32d-B.Cu.gbl
/gerber/esp32d-B.Cu.gbr
/gerber/esp32d-B.Fab.gbr
/gerber/esp32d-B.Mask.gbr
/gerber/esp32d-B.Mask.gbs
/gerber/esp32d-B.Paste.gbp
/gerber/esp32d-B.Paste.gbr
/gerber/esp32d-B.SilkS.gbo
/gerber/esp32d-B.SilkS.gbr
/gerber/esp32d-Cmts.User.gbr
/gerber/esp32d-Dwgs.User.gbr
/gerber/esp32d-Eco1.User.gbr
/gerber/esp32d-Eco2.User.gbr
/gerber/esp32d-Edge.Cuts.gbr
/gerber/esp32d-Edge.Cuts.gm1
/gerber/esp32d-F.Adhes.gta
/gerber/esp32d-F.CrtYd.gbr
/gerber/esp32d-F.Cu.gbr
/gerber/esp32d-F.Cu.gtl
/gerber/esp32d-F.Fab.gbr
/gerber/esp32d-F.Mask.gbr
/gerber/esp32d-F.Mask.gts
/gerber/esp32d-F.Paste.gbr
/gerber/esp32d-F.Paste.gtp
/gerber/esp32d-F.SilkS.gbr
/gerber/esp32d-F.SilkS.gto
/gerber/esp32d-Margin.gbr
/gerber/esp32d-NPTH.drl
/gerber/esp32d-PTH.drl
/gerber/gerber.zip
/panel/esp32-panel.gerberset
/panel/gerber/combined.drl
/panel/gerber/combined.gba
/panel/gerber/combined.gbl
/panel/gerber/combined.gbo
/panel/gerber/combined.gbp
/panel/gerber/combined.gbr
/panel/gerber/combined.gbs
/panel/gerber/combined.GKO
/panel/gerber/combined.gm1
/panel/gerber/combined.gta
/panel/gerber/combined.gtl
/panel/gerber/combined.gto
/panel/gerber/combined.gtp
/panel/gerber/combined.gts
/panel/gerber/combined.txt
/panel/gerber/esp32d-panel.zip
/panel/gerber/esp32-panel_Combined_Bottom.png
/panel/gerber/esp32-panel_Combined_Top.png
/schematic/bom/ibom.html
/schematic/esp32d.bak
/schematic/esp32d.kicad_pcb_
/schematic/esp32d.kicad_pcb-bak
/schematic/esp32d-cache.lib
/schematic/fp-info-cache
/schematic/panel.kicad_pcb-bak
